*{
	margin: 0;
	padding: 0;
}
body {
	background: transparent url("../images/Background.png") no-repeat 0px 0px;
}
h1 {
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	font-family: Arial;
}
h2 {
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	font-family: Arial;	
}
hr {
	margin: 1px 0px 0px 0px;
}
.input{
	color: white;
	background: black;
	border: 1px solid;
}
.button{
	margin-left: 30px;
	margin-top: 5px;
}
.acct_marker{
	margin-left: 10px;
	margin-right: 5px;	
}
#footer{
	width: 150px;
	height: 17px;
	padding: 0px 2px 2px 2px;
	overflow:hidden;
}

#list {
	display: none;
	padding: 1px 3px 0px 3px;
}

#itemList {
	list-style: none;
	padding: 0;	
	overflow: hidden;
}

#item {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: Verdana, Arial, sans-serif;
}

#viewer {
	display: none;
	padding: 3px;
}

#summary {
	position:relative;
	top: 30px;
	font-size: 12px;
	font-family: Verdana, Arial, sans-serif;
	overflow: hidden;
}
/* Back button in article viewer */
#back {
	position:absolute;
	left: 5px;
	top: 2px;
	width: 31px;
	height: 25px;
}
